@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap');
/*CSS Reset credit https://www.joshwcomeau.com/css/custom-css-reset/*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

body {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;

    display: grid; 
    place-items: center;
    
    font-family: 'Overpass', sans-serif;

    background: hsl(216, 12%, 7%);
}

article {
    width: fit-content;
    height: fit-content;
    padding: 2.5em;
    border-radius: 1em;

    background-image: linear-gradient(to top, hsl(233deg 10% 9%), hsl(233, 19%, 18%));
}

svg {
    --radius: 2em;
    width: var(--radius);
    height: var(--radius);
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 100vw;

    fill: orange;
    background: hsl(217, 12%, 22.5%);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
 
p {
    width: 32ch;

    font-size: 1rem;
    font-weight: 400;

    
    color: #fff5;
    
    margin-bottom: 2em;
}

form {
    margin: 0; 
    padding-inline: 0;
    border: none;
    
    display: grid; 
    gap: 3em;
}

fieldset {
    width: calc(100% - 1.5em);
    margin-inline: auto;
    border: none;
    
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

label {
    position: relative; 
    
    display: grid; 
    place-items: center;
}

input {
    appearance: none;
    margin: 0;
    padding: 1.5em;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 100vw;
    font-size: 1rem;
    line-height: 0;

    position: absolute; 

    background: hsl(217, 12%, 22.5%, 50%);

    cursor: pointer;

    transition: 0.3s ease;
}

input + span {
    position: absolute; 

    color:hsl(217, 12%, 40.5%);

    transition: 0.3s ease;
}

input:hover + span {
    color: #fff;
}

input:hover {
    background:hsl(25, 97%, 53%);
}

[type="submit"]{
    width: 100%;
    padding: 0.75em;
    border: none;
    border-radius: 50vw;
    font-size: 1rem;
    text-transform: uppercase;

    color: #fff;
    background: hsl(25, 97%, 53%);

    cursor: pointer;
    transition: 0.3s ease;
}

[type="submit"]:hover {
    transition: 0.3s ease;

    color:hsl(25, 97%, 53%);
    background: hsl(0, 0%, 100%);
}

@media screen and (max-width: 600px){
  html {
    font-size: 13px;
  }
  
  p {
    width: 35ch;
  }
}

